---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/294021//historical/24?apikey=zB8A95nj3Zcz4knYGlomNstKF1GLfGxS&language=ru
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '49'
      Akamai-Grn:
      - 0.92112817.1664154169.39a5f084
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2022-09-26T02:58:00+03:00","EpochTime":1664150280,"WeatherText":"Облачно","WeatherIcon":7,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":5.6,"Unit":"C","UnitType":17},"Imperial":{"Value":42.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/ru/ru/moscow/294021/current-weather/294021","Link":"http://www.accuweather.com/ru/ru/moscow/294021/current-weather/294021"},{"LocalObservationDateTime":"2022-09-26T01:58:00+03:00","EpochTime":1664146680,"WeatherText":"Облачно","WeatherIcon":7,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":6.9,"Unit":"C","UnitType":17},"Imperial":{"Value":44.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/ru/ru/moscow/294021/current-weather/294021","Link":"http://www.accuweather.com/ru/ru[...]
